@keyframes fade {
    from{opacity: 0.3;}
    to{opacity: 1;}
}

*{
    animation: fade 0.5s;
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-thumb{
    background-color: #00b2e9;
    border-radius: 10px;
}
body::-webkit-scrollbar-track{
    background-color: #ffffff;
}
header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
}
nav img{
    display: none;
}
nav a{
    font-weight: 600;
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: #1FC9FE;
}

#servicos{
    height: 100vh;
    background: url(../assets/servicos/Servicos.jpg);
    background-size: cover;
    background-position: center;
    padding: 32px 64px;

    color: white;
}

#servicos h1{
    font-size: 40px;
}
#servicos p{
    margin-top: 16px;
    font-size: 24px;
}
#servicos article{
    margin: 128px 0;
}

.dual{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}
.dual h2{
    color: #00b2e9;
    font-size: 48px;
}
.dual h3{
    color: #5A5A5A;
    font-size: 32px;
    margin: 4px 0 16px 0;
}
.dual p{
    color: #5A5A5A;
    font-size: 20px;
}
.dual img{
    height: 100%;
}
.dual article{
    max-width: 800px;
    padding: 0 128px;
}


#form{
    padding: 96px;
}
#form h1{
    text-align: center;
    font-size: 64px;
    color: #5A5A5A;
    margin-bottom: 64px;

}

form{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form input{
    margin: 8px 0;
    width: 48%;
    padding: 8px;
}
form textarea{
    padding: 8px;
    width: 100%;
}
form button{
    background-color: #EB7500;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 48px;
    margin: 16px 0;  
    font-size: 1rem;
}
form button:hover{
    filter: brightness(0.9);
}

footer{
    background: linear-gradient(to right bottom, #1C1C1C, black);
    padding: 16px 64px;
}

@media (max-width:999px) {
    header img{
        width: 200px;
    }
    #servicos{
        padding: 16px 32px;        
        height: auto;
    }
    #servicos h1{
        font-size: 32px;
        text-shadow: 1px 1px 3px rgb(0, 0, 0);

    }
    #servicos p{
        font-size: 12px;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.507);
    }
    .dual{
        height: auto;
        display: block;
        margin: 64px 0;
        padding: 32px 16px;
    }

    .dual h2{
        font-size: 2rem;
    }
    .dual h3{
        font-size: 1.5rem;

    }
    .dual p{
        font-size: 1.1rem;

    }


    .dual article{
        padding: 0;
    }
    .articleRight{
        text-align: right;
    }
    .dual img{
        border-radius: 50%;
        width: 128px;
        height: 128px;
    }
    .dualReverse{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
    }
    #form{
        padding:32px;
        margin: 0;
        flex-direction: column;
    }
    form input{
        display: block;
        width: 100%;
    }
    form button{
        width: 100%;
    }
    #telefone, #assunto{
        display: none;
    }
    nav{
        align-items: flex-end;
        position: absolute;
        width: 32px;
        top: 16px;
        right: 32px;
        flex-direction: column;
        border-radius: 10px;
        gap: 0px;

    }
    nav img{
        cursor: pointer;
        display: block;
        height: 32px;
        width: 32px;
    }
    nav:hover a{
        font-size: 1.3rem;
        width: 120px;
        padding: 8px 16px;
        background-color: #00b2e9;
        border-radius: 4px;
        display: block;

    }
    nav a{
        display: none;
    }
    nav a:hover{
        color: white;
        background-color: #1FC9FE;
    }

    footer{
        padding: 16px 32px;
    }

}

@media (max-width: 600px) {
    header img{
        width: 180px;
    }
    header article p {
        text-align: right;
    }
    nav img{
        height: 32px;
        width: 32px;
    }
    .dual h2{
        font-size: 1.3rem;
    }
    .dual h3{
        font-size: 1.2rem;

    }
    .dual p{
        font-size: 0.9rem;

    }
    .articleRight p, .articleRight h2, .articleRight h3{
        text-align: left;
    }
}